certifi
chardet
charset-normalizer
click
colorama
contourpy
cycler
filelock
Flask
Flask-Cors
fonttools
gunicorn
idna
imutils
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-contrib-python
opencv-python
openpyxl
packaging
pandas
pathlib
Pillow
psutil
psycopg2
py-cpuinfo
PyJWT
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
reportlab
requests
scikit-learn
scipy
seaborn
six
sympy
thop
threadpoolctl
torch
torchvision
tqdm
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
Werkzeug
